.poll {
  width: 500px;
  height: 290px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: #bfccd6 3px solid;
  padding: 20px 40px 20px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
}

.poll h3 {
  margin: 20px 0 10px 0;
}
.poll ul,
.poll li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.poll li {
  padding: 10px 0 10px 0;
}
.poll input[type="radio"] {
  margin: 0 10px 0 0;
}
.poll input[type="submit"],
button {
  margin: 20px 0 0 0;
  background-color: #53626e;
  color: #fff;
  border: 0;
  width: 100%;
  height: 40px;
  font-size: 10pt;
  border-radius: 4px;
}

.logo {
  text-align: center;
}

.logo img {
  width: 200px;
  margin-top: 0px;
}

@media only screen and (max-width: 530px) {
  .poll {
    width: 350px;
    height: 315px;
  }
}
@media only screen and (max-width: 360px) {
  .poll {
    width: 300px;
    height: 315px;
  }
}

@media screen and (min-height: 600px) and (max-height: 700px) {
  .logo img {
    width: 150px;
    margin-top: 0px;
  }
}

@media screen and (max-height: 600px) {
  .logo img {
    width: 140px;
    margin-top: 0px;
  }
}

@media screen and (min-height: 850px) {
  .logo img {
    width: 200px;
    margin-top: 170px;
  }
}
